
<mat-card>
  <h2>Edit Restaurant Details</h2>
    <form [formGroup]="editRestaurantForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="image">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save Changes</button>
    </form>
  </mat-card>
  