<div class="container">
  <header class="header">
    <h1>FOODIEDELIGHT</h1>
    <button mat-button color="primary" class="add-button" routerLink="/add">Add Restaurant</button>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Search restaurants..." [(ngModel)]="searchText">
  </div>

  <div *ngIf="filteredRestaurants.length > 0" class="restaurant-list">
    <h2>Restaurants</h2>
    <ul>
      <li *ngFor="let restaurant of filteredRestaurants">
        <div class="restaurant-details">
          <h3>{{ restaurant.name }}</h3>
          <p>{{ restaurant.description }}</p>
          <p><strong>Location:</strong> {{ restaurant.location }}</p>
        </div>
        <img *ngIf="restaurant.image" [src]="restaurant.image" alt="{{ restaurant.name }}" class="restaurant-image">
        <div class="restaurant-actions">
          <button mat-button color="primary" [routerLink]="['/edit', restaurant.id]">Edit</button>
          <button mat-button color="warn" (click)="deleteRestaurant(restaurant?.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="filteredRestaurants.length === 0">
    <p>No restaurants found.</p>
  </div>
</div>
